@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
     font-family: "Oswald", sans-serif;
     font-weight: 400;
     color: rgb(195, 207, 223);
     font-size: 20px;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background-color: rgb(14, 40, 61);
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 30px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active a {
    color: rgb(195, 207, 223);
}

header nav ul li:not(.active) a:hover {
    border-bottom: 5px solid #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background:  rgb(195, 207, 223);
}

.hero {
    padding-bottom: 100px;
}

.hero_info {
    width: 530px;
    padding-top: 35px;
}

.hero_info h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.hero_info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero_info p {
    font-weight: 400;
    line-height: 170%;
    margin: 30px 0;
    color: #fff;
}

.hero img {
    position: absolute;
    top: 20%;
    left: 900px;
}